@use '../../../../node_modules/@angular/material/index' as mat;
@import "../../../styles";

mat-toolbar {
  //--mat-toolbar-container-background-color: #{mat.get-theme-color($my-theme, primary-container)};
  //--mat-toolbar-container-text-color: #{mat.get-theme-color($my-theme, on-primary-container)};
  @include mat.toolbar-overrides((
    container-background-color: mat.get-theme-color($my-theme, primary-container),
    container-text-color: mat.get-theme-color($my-theme, on-primary-container)
  ))
}

.spacer {
  display: inline-block;
  width: 20px;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
}
