@use '../../../../node_modules/@angular/material/index' as mat;
@import "../../../styles";

@mixin colors($color, $on-color:'on-' + $color) {
  .#{$color}-colors {
    background-color: #{mat.get-theme-color($my-theme, $color)};
    color: #{mat.get-theme-color($my-theme, $on-color)};
  }
}

.content {
  max-width: 1000px;
  margin: 15px auto;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 800px) {
  .content {
    grid-template-columns: 1fr;
  }
}

.content > div {
  text-align: center;

  padding: 20px 0;
}

.footer {
  text-align: center;
}

.footer, .footer a {
  color: mat.get-theme-color($my-theme, on-surface-variant);
}

// Surfaces
@include colors(surface-dim, on-surface);
@include colors(surface);
@include colors(surface-bright, on-surface);

// Elements
@include colors(primary);
@include colors(secondary);
@include colors(tertiary);

// Containers
@include colors(primary-container);
@include colors(secondary-container);
@include colors(tertiary-container);

// Fixed
@include colors(primary-fixed);
@include colors(secondary-fixed);
@include colors(tertiary-fixed);


// Fixed Dim
@include colors(primary-fixed-dim, on-primary-fixed);
@include colors(secondary-fixed-dim, on-secondary-fixed);
@include colors(tertiary-fixed-dim, on-tertiary-fixed);

// Errors
@include colors(error);
@include colors(error-container);
